<html>
    <p>{{title}}</p>
    {{#with note}}
    <form action='{{url}}' method='post'>
        <label for="title">Titel</label>
        <input type="text" id="title" name="title" value="{{title}}">
        <br>

        <label for="description">Beschreibung</label>
        <textarea id="description" name="description" rows="2" >{{description}}</textarea>
        <br>

        <label>Wichtigkeit</label>
        <input type="radio" id="one" name="importance" value="1" {{setChecked '1' importance}}>
        <label for="one">1</label>
        <input type="radio" id="two" name="importance" value="2" {{setChecked '2' importance}}>
        <label for="two">2</label>
        <input type="radio" id="three" name="importance" value="3" {{setChecked '3' importance}}>
        <label for="three">3</label>
        <input type="radio" id="four" name="importance" value="4" {{setChecked '4' importance}}>
        <label for="four">4</label>
        <input type="radio" id="five" name="importance" value="5" {{setChecked '5' importance}}>
        <label for="five">5</label>
        <br>

        <label for="endDate">Erledigt bis:</label>
        <input type="date" id="endDate" name="endDate" value="{{endDate}}">
        <br>

        <input type='submit' value='Speichern'>
    </form>
    {{/with}}
</html>